<strong>Olá {{deliveryman}}</strong>
<p>Uma nova entrega para ser feita, confira os detalhes abaixo</p>
  <br />
<p>
  <strong>Encomenda: </strong> {{product}}
  <br />
  <br />
  <strong>Destinatário: </strong> {{recipient}}
  <br />
  <strong>Dados da entreaga</strong>
  <br />
  <br />
  <strong>Endereço: </strong> {{recipientStreet}} , {{recipientNumber}}
  <br />
  {{#if recipientComplement}}
  <strong>Complemento: </strong> {{recipientComplement}}
  <br />
  {{/if}}
  <strong>CEP: </strong> {{recipientZipCode}}
  <br />
  <strong>Cidade - UF: </strong> {{recipientCity}} - {{recipientState}}
  <br />
  <br />
  <strong>Estamos esperando por você!</strong>
</p>
